.shift-container{
    display: flex;
    height: 100%;
    overflow: auto;
    border: 1px rgb(222, 222, 222) solid;
}

.button-container{
    display: flex;
    justify-content: center;
    gap:2rem
}

.button-container .MuiButton-root {
    min-width: 20%;
    max-width: 30%;
    color: white;
    font-weight: bold;
}